:root{
    --cor-fundo: #df6c0e ;
    --cor-principal: #883b0fb6 ;
    --cor-secundaria: #a32606; 
    --cor-destaque: #ffee00;
    --cor-texto: #ffffff;

}

body {
    background-image: url("./bread.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.caixa-perguntas{
    padding: 30px;
    font-size: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}